/**************
    ESTILOS    
***************/
* {
  padding: 0px;
  margin: 0px; }

/**************
     General    
***************/
/* header */
header {
  display: sticky;
  background-color: #FCDDEC; }
  header nav {
    background-color: #EF5DA8; }
  header img {
    height: auto;
    width: 100px; }

/* footer */
footer {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #EF5DA8; }
  footer .social {
    height: auto;
    width: 50px; }
  footer .copyright {
    font-size: 12px; }

/************
    Views    
************/
/* index */
.index__carrusel {
  margin-bottom: 25px; }

.index__porQue {
  margin-bottom: 25px; }
  .index__porQue .porQue__btn {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px; }

.index__ad {
  background-color: #FCDDEC;
  border-style: solid;
  border-width: 3px;
  border-color: #EF5DA8;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-top: 10px; }

.index__studio {
  margin-bottom: 25px; }

.destacado__titulo {
  margin-bottom: 15px; }

.destacado__producto {
  background-color: #A5A6F6;
  margin-bottom: 25px; }

/* contacto */
.containerContacto {
  border-style: solid;
  border-color: #EF5DA8;
  background-color: #FCDDEC;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  margin-bottom: 25px; }

/* FAQ */
.containerFAQ {
  margin-top: 25px;
  margin-bottom: 25px; }
  .containerFAQ .otraPreg {
    margin-top: 25px; }

/* ropa */
.containerRopa {
  background-color: #FCDDEC;
  border-style: solid;
  border-color: #EF5DA8;
  margin-top: 25px;
  margin-bottom: 25px; }
  .containerRopa nav {
    background-image: linear-gradient(to left, #434343, #04080F); }
  .containerRopa .ropaProdcut {
    margin-bottom: 25px;
    padding-top: 15px; }

/* tiendas */
.nuestrasTiendas {
  margin-bottom: 15px; }

.nuestrosEmpleados {
  margin-bottom: 15px; }

.encuentraMapa {
  border-style: solid;
  border-width: 3px;
  border-color: #EF5DA8;
  background-image: linear-gradient(to left, #434343, #04080F);
  padding-top: 10px;
  padding-bottom: 10px; }
