/* header */

@import "variables.scss";

header{
    display:sticky;
    background-color: map-get($colores, fuchsia60);

    nav {
        background-color: map-get($colores, fuchsia100 );
    };
    img{
        @include sizes(100px, auto);
    }

    .dropdown-menu{
        background-color: map-get($colores, fuchsia100);
    }
}